body{
  margin: 0;
}

.recipe_page{
	background: #dcdcdc;
	text-align: center;

	&__banner{
		position: relative;

		img{
			width: 100%;
			object-fit: cover;
			height: 40vh;
			-webkit-filter: blur(3px);
				filter: blur(3px);
		}

		.opacity_div{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.5);
		}
	}

	&__container{
		display: inline-flex;
		width: 80%;
	}

	&__main_cont{
		width: 60%;
		padding: 0 50px;
		position: relative;
		top: -150px;

		&__image{
			padding: 15px;
			background: #fff;
			box-sizing: border-box;
			border-radius: 5px;

			img{
				width: 100%;
				object-fit: cover;
			}
		}

		&__title{
			padding: 15px;
			font-size: 20pt;
			background: #fff;
			border-radius: 5px;
			font-family: monospace;
			text-align: left;
			margin-top: 15px;
			font-weight: 700;
		}

		&__directions{
			padding: 30px 10px 10px;
			background: #fff;
			border-radius: 5px;
			margin-top: 10px;
			font-family: monospace;

			.title{
				display: inline-block;
				width: 100%;
				font-size: 15pt;
				font-weight: 700;
			}
		}
	}

	&__ing_cont{
		padding: 20px 0;
		width: 40%;

		&__desc{
			background: #fff;
			padding: 10px;
			border-radius: 5px;
			width: 100%;
			font-family: monospace;
			box-sizing: border-box;
		}

		&__others{
			display: inline-flex;
			width: 100%;
			margin-top: 10px;

			.item{
				width: 100%;
				margin-left: 10px;
				background: #fff;
				padding: 10px;
				border-radius: 5px;
				font-family: monospace;
				box-sizing: border-box;
				font-size: 20px;
				font-weight: 700;
				text-align: center;

				span{
					font-weight: 100;
					font-size: 8pt;
					display: inline-block;
					width: 100%;
				}

				&:first-child{
					margin: 0;
				}

				&--green{
					color: #008000;
				}
			}
		}
	}

	&__ingredients{
		background: #ecf1c4;
		padding: 20px 10px;
		border-radius: 5px;
		margin-top: 30px;

		span{
			display: inline-block;
			width: 100%;
			font-family: monospace;
			font-weight: 700;
			font-size: 15pt;
		}

		&__list{
			text-align: left;
			font-family: monospace;

			li{
				padding: 5px;
			}
		}
	}

	&__return{
		position: absolute;
		z-index: 2;
		cursor: pointer;
		color: #fff;
		font-size: 25pt;
		top: 10%;
		left: 2%;
		transition: all ease-in-out .3s;
	}
}

.recipe__ingredients__specials{
	padding: 15px 10px 20px 10px;
	background: #fff;
	box-sizing: border-box;
	width: 90%;
	margin-top: 10px;
	border-radius: 5px;
	text-align: center;
	font-family: monospace;

	.type{
		font-weight: 700;
		text-transform: uppercase;
		color: #008000;
		font-size: 13pt;
		margin-top: 0;
	}

	.title{
		font-weight: 700;
		font-size: 11pt;
		margin: 0;
	}

	.message{
		font-size: 10pt;
		margin: 0;
	}
}
		
#recipe_page__directions{
	list-style: none;
	text-align: left;
	padding-right: 40px;

	li{
		width: 100%;
		padding: 10px 0;

		&.number{
			font-size: 25pt;
			padding-right: 10px;
		}
	}
}

