<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="scss/recipe_page.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recipes | Single Page</title>
</head>

<body>
	<div class="recipe_page">
		<div class="recipe_page__banner">
			<a href="/views/recipes.html" class="recipe_page__return"><i class="fa fa-arrow-left"></i></a>
			<img id="banner_img" src="#">
			<div class="opacity_div"></div>
		</div>

		<div class="recipe_page__container">
			<div class="recipe_page__main_cont">
				<div class="recipe_page__main_cont__image">
					<img id="recipe_main_image" src="#">
				</div>
				<div class="recipe_page__main_cont__title" id="recipe_name"></div>
				<div class="recipe_page__main_cont__directions">
					<span class="title">Directions</span>
					<ul id="recipe_page__directions"></ul>
				</div>
			</div>

			<div class="recipe_page__ing_cont">
				<div class="recipe_page__ing_cont__desc">
					<p id="recipe_description"></p>
				</div>
				<div class="recipe_page__ing_cont__others">
					<div class="item" id="recipe_servings"></div>
					<div class="item" id="recipe_preptime"></div>
					<div class="item item--green" id="recipe_cooktime"></div>
				</div>
				<div class="recipe_page__ingredients">
					<span>Ingredients</span>
					<ul class="recipe_page__ingredients__list" id="recipe_ingredients"></ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script src="js/recipe_page.js"></script>