<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="scss/recipes.css">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Recipes</title>
</head>

<body>
	<div class="recipes">

		<div class="recipes__banner">
			<div class="opacity_div">
				<span>Recipes we Offer</span>
			</div>
		</div>

		<div class="recipes__list">
			<ul id="recipes_list_container">
			</ul>
		</div>

	</div>
</body>

</html>

<script src="js/recipes.js"></script>